*{margin: 0;padding: 0;}

/*COMMON*/
.wrapper{
   width: 1200px;margin:0 auto;
}
body{
   background-color: #f1f1f1;color: #444;
}

/*HEADER*/
.header{background-color: #fff; border-bottom: 1px solid #ddd;}
.header .top{ height: 60px; border-bottom: 1px solid #ddd;}
.header .nav{ height: 100px}

.top .left .left_menu{
    float: left;
    line-height: 60px;
    font-size: 12px;color: #999;
    padding: 0 30px;
    border-left: 1px solid #ddd;
}
.top .left .left_menu span{
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.top .left .email{
    /*여기부분 왜 .top.left를 지워야 선이 그어지*/
    border-right: 1px solid #ddd;
}

.top .top_right{float: right;}/*ul을 먼저 플로트 라이트로 해준다.*/
.top .top_right li{
    list-style: none;
    float: left; font-size: 12px;font-weight: bold;line-height: 60px;
    padding: 0 15px; color: #444;border-left: 1px solid #ddd;
}
/*.top .top_right li:last-child{border-right: 1px solid #ddd;}*/















