*{margin: 0;padding: 0}

/*  common  */
.wrapper{width: 1200px;margin:0 auto;}
body{background-color: #f1f1f1;color: #444;}
li{
    list-style: none;
    
}

/*  header  */
.header{background-color: #fff; border-bottom: 1px solid #ddd;}
.header .top{ height: 60px; border-bottom: 1px solid #ddd;}
.header .nav{ height: 100px}



.top .top_left{float: left;}
.top .top_left .left_menu{
    float: left;font-size: 12px;color: #999;
    line-height: 60px;border-left: 1px solid #ddd;padding: 0 30px;
}

.top .top_left .email{border-right: 1px solid #ddd;
}

.top .top_left .left_menu span{
    color: #444; font-size: 14px;font-weight: bold;
}



.top .top_right{float: right;}
.top .top_right li{float: right; font-size: 12px;font-weight: bold;line-height: 60px;padding: 0 15px; color: #444;border-left: 1px solid #ddd;}
.top .top_right li:last-child{border-right: 1px solid #ddd;}


.nav .nav_right .about{
    float: right;
    line-height: 100px;
}
.nav .nav_right li{
    float: left;
    padding: 0 20px;
    
}
.nav .nav_right #home{
    width: 50px;
    height: 70px;
    background-color: red;
    
}
.nav .nav_right a{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.nav .nav_right .detail{
    float: right;
}

#nav .nav_right .detail .box1{
    float: left;
    width: 500px;
    height: 400px;
    background-color: red;
}












