*{margin: 0;padding: 0}

/*  common  */
.wrapper{width: 1200px;margin:0 auto;}
body{background-color: #f1f1f1;color: #444;}
li{
    list-style: none;
    
}

/*  header  */
.header{background-color: #fff; border-bottom: 1px solid #ddd;}
.header .top{ height: 60px; border-bottom: 1px solid #ddd;}
.header .nav{ height: 100px}



.top .top_left{float: left;}
.top .top_left .left_menu{
    float: left;font-size: 12px;color: #999;
    line-height: 60px;border-left: 1px solid #ddd;padding: 0 30px;
}

.top .top_left .email{border-right: 1px solid #ddd;
}

.top .top_left .left_menu span{
    color: #444; font-size: 14px;font-weight: bold;
}



.top .top_right{float: right;}
.top .top_right li{float: right; font-size: 12px;font-weight: bold;line-height: 60px;padding: 0 15px; color: #444;border-left: 1px solid #ddd;}
.top .top_right li:last-child{border-right: 1px solid #ddd;}


.nav .nav_right .about{
    float: right;
    line-height: 100px;
}
.nav .nav_right li{
    float: left;
    padding: 0 20px;
    
}

.nav .nav_right #home{
    width: 50px;
    height: 70px;
    background-color: red;
    
}
.nav .nav_right a{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
/*
.center{
    position: absolute;
}
*/
/*
.center .center_top{
    position: absolute;
}
*/
.center .center_top .slider{
/*    width: 1200px;*/
    margin-left: 100px;
}
.center .center_top .container{
    position: absolute;
    left: 900px;
/*    float: right;*/
    width: 1000px;
    height: 600px;
/*    border: 3px solid black;*/
/*    background-color: red;*/
}
.center .center_top #home{
    width: 300px;
    height: 300px;
    background-color: aqua;
    opacity: 0;
}
.appear{
    animation: app_top 1s forwards;
}
@keyframes app_top{
    0%{transform: translateY(100px);opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}









